.component {
    padding: 0px;

    &.offline {
        color: #333333;
        border-color: #f92a2a;
        .panel-heading {
            background-color: #ff4343;
        }
    }

    &.online {
        color: #333333;
        border-color: #57d404;
        .panel-heading {
            background-color: #aaffa5;
        }
    }

    .panel-heading {
        font-size: 1.2em;
        font-weight: bold;
    }
}